<a href="https://colab.research.google.com/github/B2221490/Promen2023a/blob/main/%EF%BC%96%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

課題1

In [4]:
text = """PPAP
I have a pen.
I have an apple.
Apple pen！
I have a pen.
I have a pineapple.
Pineapple pen！
Apple pen.
Pineapple pen.
Pen-pineapple-Apple-pen！"""

In [14]:
import  string
def word_count(text):
  text = text.replace('！', '')
  text = text.replace('-', ' ')
  text = text.translate(str.maketrans('', '', string.punctuation))
  text = text.lower().split()

  moji  = {}
  for char  in  text:
    if  char  not in  moji:
      moji[char]=1
    else:
      moji[char]+=1

  narabikae = sorted(moji.items(),key=lambda  x:x[1],reverse=True)
  print(narabikae)

word_count(text)

[('pen', 8), ('i', 4), ('have', 4), ('apple', 4), ('pineapple', 4), ('a', 3), ('ppap', 1), ('an', 1)]

課題2

In [18]:
seiseki_data = {"課題" : ["B+","A","B+","A","A","A","A","A","B+","A",
                       "A","B+","A","B+","A"] ,
             "小テスト" : [50,50,50,15,40,50,50,50,50,
                           15,45,40,50,50]
             }

In [50]:
def seiseki():
  kadai = []
  for seiseki in  seiseki_data['課題']:
   seiseki  = seiseki.replace('A','5').replace('B+','4').replace('B','3').replace('B-','2').replace('C+','1').replace('C','0')
   kadai.append(int(seiseki))
  kadai =  sum(kadai)

  test  = []
  test  = sum(seiseki_data['小テスト'])/28
  hantei  = []
  hantei  = kadai + test
  print(hantei)

seiseki()

91.60714285714286

課題3

In [51]:
one_unit_class = ("キャリア形成Ａ１（Ａ）","千歳学(Ａ)","言語リテラシー１(Ａ)",
                  "理工学基礎実験１（Ａ）","スポーツ総合１(Ａ)","健康科学(Ａ・Ｂ)")
seiseki_data = {"授業":["物理学入門(Ａ・Ｂ)","化学入門(Ａ・Ｂ)","エレクトロニクス入門(Ａ・Ｂ)",
                      "情報学基礎演習(Ａ)","キャリア形成Ａ１（Ａ）","千歳学(Ａ)",
                      "言語リテラシー１(Ａ)","微分積分学Ⅰ（Ａ）","理工学基礎実験１（Ａ）",
                      "理系のための基礎英語Ⅰ(Ａ)","日本国憲法(遠隔)","スポーツ総合１(Ａ)",
                      "健康科学(Ａ・Ｂ)"],

              "成績":["良","秀","秀","秀","秀","秀","秀","優","優","秀","秀","優","優"]
              }

In [77]:
def gpa():
  seiseki2  = []
  for seiseki in  seiseki_data['成績']:
    seiseki = seiseki.replace('秀','4').replace('優','3').replace('良','2').replace('可','1').replace('不可','0')
    seiseki2.append(int(seiseki))

  sum = 0
  tani  = 0
  for i,kamoku in  enumerate(seiseki_data["授業"]):
    if not kamoku in one_unit_class:
      sum += 2*seiseki2[i]
      tani  +=  2
    else:
      sum += seiseki2[i]
      tani  +=  1

  print(sum/tani)

gpa()

3.55